// import _variables.scss
@import "variables";

html {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: "Singulier", sans-serif;
    font-size: 16px;
    color: $text;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

div {
    box-sizing: border-box !important;
}

#scannerContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    #reader {
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.main-bg {
    overflow-y: hidden;
    background-color: #000;
}

.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: $text;
    padding-top: 40px;
}

.image {
    width: 12vh;
}

.button {
    background-color: $white !important;
    color: #303030 !important;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
}

.iti {
    width: 100%;
}

.checkbox-container {
    justify-content: start;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        width: 30px;
        height: 30px;
    }

    label {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border: 2px solid #9e9e9e;
        border-radius: 0px;
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"]:checked + label::after {
        content: "";
        position: absolute;
        left: 10px;
        top: 2px;
        width: 7px;
        height: 20px;
        border: solid #494949;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

    p {
        padding: 0;
        margin: 0;
    }

    input[type="checkbox"]:disabled + label {
        background-color: #dbdada;
    }
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.form-group {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border: 2px solid #9e9e9e;
    border-radius: 0;
    background-color: #fff !important;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border: 2px solid #9e9e9e;
    border-radius: 0;
    background-color: #fff !important;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border: 2px solid #9e9e9e;
    border-radius: 0;
    background-color: #fff !important;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border: 2px solid $primary;

    &::-webkit-input-placeholder {
        color: $gray;
    }
}

input:-internal-autofill-selected {
    background-color: #fff !important;
}

label {
    font-size: 14px;
    font-weight: 400;
    display: block;
    letter-spacing: 2px;
}

.button:hover {
    background-color: darken($primary, 10%);
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.branding {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        width: 50%;
        height: 7vh;
        object-fit: contain;
    }
}

.welcome {
    .branding-container {
        margin-top: 10%;
    }

    .container {
        text-align: center;
        width: 70%;
        margin: 53% auto 0 auto;

        @media (max-width: 375px) {
            margin: 35% auto 0 auto;
        }

        h1 {
            font-size: 20px;
            line-height: 26px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            margin-top: 40px;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }
}

.login {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 30px;

    .branding-container {
        box-sizing: border-box;
    }

    .content {
        height: 100%;
        padding: 20px;
        padding-top: 40px;
        text-align: center;
        box-sizing: border-box;

        h1 {
            text-align: start;
            font-size: 24px;
            font-weight: 600;
        }

        .button {
            width: 100%;
            margin-top: 20px;
            padding: 15px 40px;
        }

        .bottom-text {
            width: 60%;
            text-align: center;
            margin: 80% auto 0 auto;

            @media (max-width: 375px) {
                margin: 30% auto 0 auto;
            }

            p {
                font-size: 16px;
            }

            a {
                font-weight: 600;
                text-decoration: underline;
                color: $text;
            }
        }
    }
}

.devider {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    span {
        position: relative;
        width: 100%;
        display: block;
        margin-top: 10px;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 45%;
            height: 1px;
            background-color: $text;
        }

        &:before {
            right: 0;
        }

        &:after {
            left: 0;
        }
    }
}

.dashboard {
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    padding: 40px 20px;

    .content {
        padding: 20px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .title-container {
        text-align: center;
        color: #fff;
    }

    h1 {
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 20px;
    }

    .tile {
        .img-container {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 10px;
            }

            &.active {
                .marker {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #be2121a6;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 0 0 0 5px;
                    font-size: 12px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }
            }

            .marker {
                display: none;
            }
        }
    }
}

.station-page {
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    overflow-y: auto;
    padding-bottom: 50px;

    .content {
        padding: 10px;
        text-align: center;
        .station-number {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 1px;
            padding: 0;
            margin: 0;
            line-height: 1.1;
        }

        .station-name {
            font-size: 24px;
            letter-spacing: 1px;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }

        .tag-line {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }

    .station-img img {
        width: 100%;
    }
    .scanner-button {
        height: 10vh;
        margin-top: auto;
        text-align: center;
        text-align: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin-top: 40px;

        .scan-btn {
            background-color: transparent;
            border: none;
            outline: none;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            color: $white;
            letter-spacing: 1px;
            font-weight: 400;
            padding: 0;
            margin: 0;
        }
    }
}

.register-page {
    overflow-y: auto;
}

.register {
    background-color: #C1C1C166;
    border-radius: 4px;
    padding: 20px 15px;
    .bottom-text {
        margin: 14% auto 26% auto !important;
    }
    .concent-container {
        justify-content: start;
        align-items: start;
        margin-bottom: 10px;

        label {
            width: 96px;
        }

        a {
            text-decoration: underline;
        }

        &.first {
            border-top: dashed 1px #fff;
            padding-top: 30px;
            margin-top: 30px;
            label {
                width:50px;
            }
        }
    }
    .accordion-button {
        border-radius: 0px !important;
        border: 2px solid #9e9e9e;
        background-color: #fff !important;
        outline: none;

        &.collapsed {
            //remove background and outline retain default border
            background-color: #fff !important;
            border: 2px solid #9e9e9e;
            outline: none;
        }
    }

    .accordion {
        margin: 5px 0;
    }

    .accordion-body {
        background-color: #fff;
        border-radius: 0;
        border: 2px solid #9e9e9e;
        margin-top: 10px;
    }

    .accordion-item {
        background-color: transparent;
    }
}

.check-mark {
    width: 28px;
    height: 28px;
    color: #40a355;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    bottom: 4px;
    right: 7px;
}

#scanCompleteModal {
    .button {
        width: fit-content;
        margin: 0 auto;
    }
}

.admin-login {
    background: linear-gradient(to bottom, #FFFFFF 0%, #D3EEFD 100%);
    .wrapper {
        margin-top: 10%;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .branding .logo {
        width: 248px
    }
    .form-container {
        width: 505px;

        @media (max-width: 768px) {
            width: 100%;
        }
        label {
            letter-spacing: 0;
            font-size: 16px;
            color: #3C727A;
        }

        h1 {
            font-size:25px;
            color:#3C727A;
            font-weight: 300;
        }
        h2 {
            font-size:31px;
            color:#3C727A;
            font-weight: 500;
        }

        p {
            font-size:16px;
            color:#3C727A;
            font-weight: 400;
        }

        .form-control {
            border-radius: 6px !important;
            min-height: 60px;
        }
        .remember {
            label {
                font-size: 12px;
                margin-left: 5px;
            }

            input {
                padding: 8px;
                border-radius: 0;
                border: 1px solid #9e9e9e;
            }
        }

        input {
            padding:10px 20px;
            font-size: 14px;
            &::placeholder {
                color: #ABABAB;
                font-size: 14px;
            }
        }
        .button {
            width: 100%;
            padding: 15px 40px;
            font-size: 16px;
            font-weight: 400;
            margin-top: 30px;
        }
    }
    .copy-text {
        font-size: 14px;
        color: #7D7D7D;
        font-weight: 400;
        margin-top: 20px;
    }

}

.visit {
    margin-top: 40px;
    color: #3C727A;
   p {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 400;
   }
   a {
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 1px;
    color: #3C727A;
   }
}
.safari-padding {
    padding-bottom: 120px;
}

.admin-login {
    .checkbox-container {
        align-items: start;
        label {
            width: 20px;
            height: 20px;
            &::after {
                left: 5px !important;
                top: 0px !important;
                width: 7px !important;
                height: 13px !important;
            }
        }
        p {
            font-size: 12px;
        }
    }
}

.modal-body {
    background-color: #000;
    padding: 30px 10px;
}


